USE [master]
GO
/****** Object:  Database [BaseDatosTriki]    Script Date: 31/10/2021 2:57:39 p. m. ******/
CREATE DATABASE [BaseDatosTriki]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'BaseDatosTriki', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.DEVELOP\MSSQL\DATA\BaseDatosTriki.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'BaseDatosTriki_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.DEVELOP\MSSQL\DATA\BaseDatosTriki_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [BaseDatosTriki].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [BaseDatosTriki]
GO
/****** Object:  Table [dbo].[Bitacora]    Script Date: 31/10/2021 2:57:39 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Bitacora](
	[IdBitacora] [int] IDENTITY(1,1) NOT NULL,
	[NumeroJugador] [varchar](20) NULL,
	[CasillaSeleccionada] [varchar](20) NULL,
	[NumeroPartida] [nvarchar](500) NULL,
 CONSTRAINT [PK_Bitacora] PRIMARY KEY CLUSTERED 
(
	[IdBitacora] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Ganadores]    Script Date: 31/10/2021 2:57:40 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Ganadores](
	[IdGanador] [int] IDENTITY(1,1) NOT NULL,
	[JugadorId] [int] NOT NULL,
	[NumeroJugador] [varchar](20) NULL,
 CONSTRAINT [PK_Ganadores] PRIMARY KEY CLUSTERED 
(
	[IdGanador] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Jugadores]    Script Date: 31/10/2021 2:57:40 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Jugadores](
	[idJugador] [int] IDENTITY(1,1) NOT NULL,
	[Nombres] [varchar](150) NOT NULL,
 CONSTRAINT [PK_Jugadores] PRIMARY KEY CLUSTERED 
(
	[idJugador] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
USE [master]
GO
